h1 {
    color: rgb(255, 255, 255);
  }
  h2 {
    color: rgb(0, 0, 0);
  }
  title{
    font-family: Arial, Helvetica, sans-serif
  }
  body {
    font-family: monospace;
    margin: 0;
    color: #3e363f;
    padding-top: 70px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .menu-item {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
  }
  .menu-item:hover {
    background-color: #863879;
    transition: all 0.4s ease-in-out;
  }
  header {
    background-color:#dc9bfa;
    color: #a733be;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  section {
    padding: 20px;
    border: 1px solid #92208c;
    margin-bottom: 20px;
  }
  #acerca-de-mi {
    text-align: justify;
  }
  #habilidades ul {
    list-style: none;
    padding: 0;
  }
  
  #habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #dc9bfa;
    border-radius: 5px;
    margin-right: 10px;
  }
  #experiencia ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #experiencia ul li {
    margin-bottom: 10px;
  }
  #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #proyectos ul li a {
    text-decoration: none;
    color: #333;
  }
  
  #proyectos ul li a:hover {
    text-decoration: underline;
  }
  #contacto form {
    margin: 0 auto;
    width: 500px;
}

#contacto form input,
#contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dc9bfa;
}

#contacto form textarea {
    height: 100px;
}

#contacto form input[type="submit"] {
    background-color: #333;
    color: #dc9bfa;
    border: none;
    cursor: pointer;
}
.menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.menu-fijo.fijo {
    background-color: #080707;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  